# ===== NoneBot 基础配置 =====
HOST=0.0.0.0  # 配置 NoneBot 监听的 IP / 主机名
PORT=8080  # 配置 NoneBot 监听的端口
COMMAND_START=[""]  # 配置命令起始字符
COMMAND_SEP=["."]  # 配置命令分割字符

# 驱动器配置
DRIVER=~httpx+~websockets+~fastapi

# ===== Satori 适配器 =====
SATORI_CLIENTS='
[
  {
    "host": "localhost",
    "port": "5500",
    "path": "",
    "token": "在这里填写 Satori 服务的 token",
    "timeout": 30
  }
]
'

# ===== Bilibili 适配器 =====
# rooms=[123, 123, 123]  # 直播间房间号
# manual_login=true      # 是否需要手动登录
# bili_cookie="buvid***" # 登录用的 cookies 为空时二维码登录
# BILIBILI_LIVE_BOTS 用于配置直播弹幕机器人
BILIBILI_LIVE_BOTS='
[
  {
    "cookie": "SESSDATA=在这里填写你的SESSDATA; bili_jct=在这里填写你的bili_jct;",
    "room_ids": [544853]
  }
]
'
